# 7 - Carga y preprocesamiento de datos (Ejercicios)

En este apartado, hemos estudiado uno de los componentes más importantes del ciclo de vida de los modelos de inteligencia artificial: la adquisición y manipulación de los datos. En los conjuntos de datos propuestos, tendremos por una parte la información relativa a los atributos de la muestra, y por otra los nombres de los mismos. Tu tarea será:

* Importar desde consola por comandos Linux los ficheros oportunos.
* Leer los ficheros `data` y `names`.
* Explorar el fichero `names` para analizar qué tipo de expresiones regulares necesitas para identificar los nombres de las columnas en la metadata.
* Aplicar las transformaciones *regex* pertinentes y obtener los nombres de las columnas para construir los datos. *Pista: El nombre de la variable respuesta tendremos que añadirlo al final ya que no viene explícitamente citado*.
* Realizar un conveniente preprocesmiento de las variables en función de su tipo.

## 7.1 - *Adult* [dataset](https://archive.ics.uci.edu/ml/datasets/Adult)

In [1]:
import os
import re
import requests
import pandas as pd
import numpy as np

In [2]:
# Comprobamos directorio actual
if not os.getcwd().split('\\')[-1]=='07-PREPROCESAMIENTO':
    os.chdir('c:\\Users\\User\\Desktop\\Data_Analytics\\Bootcamp\\1_Módulo 1\\07-PREPROCESAMIENTO\\')
# Creamos una carpeta para que contenga a nuestro dataset
if not os.path.isdir('adult_dataset/'): os.mkdir('adult_dataset/')
# Movemos el directorio activo a esa localización
os.chdir('adult_dataset/')
# Descargamos el fichero que contiene los datos a nuestro directorio activo
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
with open("adult.data", "wb") as f:
    f.write(response.content)
# Descargamos la metadata asociada al conjunto de datos
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names')
with open("adult.names", "wb") as f:
    f.write(response.content)
# Leemos datos
with open('adult.data','r') as f:
    data = f.read().splitlines() # Dividimos el texto por saltos de línea
    data = [elem.split(',') for elem in data] # Dividimos cada línea por las comas y removemos líneas vacías
# Leemos metadata
with open(os.path.join(os.getcwd(),'adult.names'),'r') as f:
    metadata = f.read().splitlines()
# Regex
regex_fn = lambda text: re.findall('^[a-zA-Z-]+:{1}', text)
reg_text_fn = lambda text : re.findall('[a-zA-Z- ]+', text)
metadata_list = [regex_fn(elem)[0] for elem in metadata if regex_fn(elem)]
col_names = [reg_text_fn(elem)[0] for elem in metadata_list if reg_text_fn(elem)] + ['label']
# Construimos el objeto pd.DataFrame
df = pd.DataFrame(data=data, columns=col_names)

In [3]:
df.info()
# col_names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32562 entries, 0 to 32561
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32562 non-null  object
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  32561 non-null  object
 14  label           32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [4]:
df=df.head(32561)

In [5]:
# Reemplazamos '?' por nulo
df = df.replace(' ?',np.NaN)

In [6]:
df['age'].unique()

array(['39', '50', '38', '53', '28', '37', '49', '52', '31', '42', '30',
       '23', '32', '40', '34', '25', '43', '54', '35', '59', '56', '19',
       '20', '45', '22', '48', '21', '24', '57', '44', '41', '29', '18',
       '47', '46', '36', '79', '27', '67', '33', '76', '17', '55', '61',
       '70', '64', '71', '68', '66', '51', '58', '26', '60', '90', '75',
       '65', '77', '62', '63', '80', '72', '74', '69', '73', '81', '78',
       '88', '82', '83', '84', '85', '86', '87'], dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  object
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  31978 non-null  object
 14  label           32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [8]:
# Iteramos sobre las columnas del dataset
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')
# Comprobamos que se han convertido con éxito
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  label           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
# Tomamos el mínimo y máximo de los datos
min_col, max_col = df['capital-gain'].min(), df['capital-gain'].max()
# Decidimos en cuántas cajas vamos a estratificar los datos
num_boxes = 5
# Creamos los valores que segmentarán las cajas
bins = np.linspace(min_col, max_col, num_boxes+1)
# Creamos la columna discretizada
df['capital-gain-disc'] = np.digitize(df['capital-gain'], bins)


# Tomamos el mínimo y máximo de los datos
min_col2, max_col2 = df['age'].min(), df['age'].max()
# Decidimos en cuántas cajas vamos a estratificar los datos
num_boxes2 = 2
# Creamos los valores que segmentarán las cajas
bins2 = np.linspace(min_col2, max_col2, num_boxes2+1)
# Creamos la columna discretizada
df['age-disc'] = np.digitize(df['age'], bins2)

# Método auxiliar
def replace_missing_data(g):
    # Vemos qué columnas tienen valores nulos
    mis_cols = list(g.isnull().sum(axis=0)[g.isnull().sum(axis=0)>0].index)
    # Iteramos sobre ellas
    for col in mis_cols:
        # Si la variable es discreta,...
        if g[col].dtype in ['object']:
            mode_col = g[col].mode().values[0]
            g[col] = g[col].fillna(mode_col)
        # Si son números enteros
        elif g[col].dtype in ['int']:
            g[col] = g[col].fillna(g[col].median())
        # Si son números reales
        elif df[col].dtype in ['float']:
            g[col] = g[col].fillna(g[col].mean())
    # Devolvemos el DataFrame
    return g

# Rellenamos valores por grupos
df = df.groupby(['capital-gain-disc', 'age-disc' , 'race', 'sex'],group_keys=False).apply(lambda g: replace_missing_data(g))
# Eliminamos columna añadida
df.drop('capital-gain-disc', axis=1, inplace=True)
df.drop('age-disc', axis=1, inplace=True)

In [10]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
df['label']=np.where(df['label']==' >50K', True, False)

In [12]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  label           32561 non-null  bool
dtypes: bool(1), int64(6), object(8)
memory usage: 4.8+ MB

## 7.2 - Beijing Multi-Site [Air Quality Data](https://archive.ics.uci.edu/ml/datasets/Beijing+Multi-Site+Air-Quality+Data)

En este conjunto de datos no tendremos que hacer un esfuerzo muy grande en lo relativo a estudiar la *metadata*, pero exploraremos una serie de comandos de Linux que nos será muy útil conocer:

In [14]:
# Movemos el directorio activo a una nueva localización para este dataset
## Retrocedemos un nivel
if not os.getcwd().split('\\')[-1]=='07-PREPROCESAMIENTO': os.chdir('c:\\Users\\User\\Desktop\\Data_Analytics\\Bootcamp\\1_Módulo 1\\07-PREPROCESAMIENTO')
## Creamos carpeta
if not os.path.isdir('content/'): os.mkdir('content/')
os.chdir('content')
if not os.path.isdir('air_quality_dataset/'): os.mkdir('air_quality_dataset/')
## Movemos directorio activo
os.chdir('air_quality_dataset')
# Descargamos fichero comprimido
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/00501/PRSA2017_Data_20130301-20170228.zip')
with open("PRSA2017_Data_20130301-20170228.zip", "wb") as f:
    f.write(response.content)

In [15]:
import zipfile
zipfile.ZipFile('PRSA2017_Data_20130301-20170228.zip','r').extractall()
os.chdir('PRSA_Data_20130301-20170228')

In [16]:
os.getcwd()
# os.listdir('PRSA_Data_20130301-20170228')
# os.listdir(os.getcwd())

'c:\\Users\\User\\Desktop\\Data_Analytics\\Bootcamp\\1_Módulo 1\\07-PREPROCESAMIENTO\\content\\air_quality_dataset\\PRSA_Data_20130301-20170228'

In [17]:
df = pd.concat([pd.read_csv(elem) for elem in os.listdir(os.getcwd())]).reset_index(drop=True)

Ahora te toca, ¿eres capaz de leer todos los `csv`, concatenarlos y construir un `pd.DataFrame` en una sola línea de código?


```python
df = pd.concat([pd.read_csv(elem) for elem in os.listdir()]).reset_index(drop=True)
```

In [18]:
print(df)

           No  year  month  day  hour  PM2.5  PM10   SO2   NO2     CO    O3  \
0           1  2013      3    1     0    4.0   4.0   4.0   7.0  300.0  77.0
1           2  2013      3    1     1    8.0   8.0   4.0   7.0  300.0  77.0
2           3  2013      3    1     2    7.0   7.0   5.0  10.0  300.0  73.0
3           4  2013      3    1     3    6.0   6.0  11.0  11.0  300.0  72.0
4           5  2013      3    1     4    3.0   3.0  12.0  12.0  300.0  72.0
...       ...   ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
420763  35060  2017      2   28    19   11.0  32.0   3.0  24.0  400.0  72.0
420764  35061  2017      2   28    20   13.0  32.0   3.0  41.0  500.0  50.0
420765  35062  2017      2   28    21   14.0  28.0   4.0  38.0  500.0  54.0
420766  35063  2017      2   28    22   12.0  23.0   4.0  30.0  400.0  59.0
420767  35064  2017      2   28    23   13.0  19.0   4.0  38.0  600.0  49.0

        TEMP    PRES  DEWP  RAIN   wd  WSPM        station
0       -0.7  1023.0 -18.8   0.0  NNW   4.4   Aotizhongxin
1       -1.1  1023.2 -18.2   0.0    N   4.7   Aotizhongxin
2       -1.1  1023.5 -18.2   0.0  NNW   5.6   Aotizhongxin
3       -1.4  1024.5 -19.4   0.0   NW   3.1   Aotizhongxin
4       -2.0  1025.2 -19.5   0.0    N   2.0   Aotizhongxin
...      ...     ...   ...   ...  ...   ...            ...
420763  12.5  1013.5 -16.2   0.0   NW   2.4  Wanshouxigong
420764  11.6  1013.6 -15.1   0.0  WNW   0.9  Wanshouxigong
420765  10.8  1014.2 -13.3   0.0   NW   1.1  Wanshouxigong
420766  10.5  1014.4 -12.9   0.0  NNW   1.2  Wanshouxigong
420767   8.6  1014.1 -15.9   0.0  NNE   1.3  Wanshouxigong

[420768 rows x 18 columns]

## 7.3 - Solar flare [dataset](https://archive.ics.uci.edu/ml/datasets/Solar+Flare)

En este conjunto de datos, tendremos dos ficheros relativos a `data`, cuya primera fila serán las especificaciones temporales, por lo que deberemos quitarla, y además en los registros de datos las variables no vienen delimitadas por `','`, si no por espacios en blanco:

In [26]:
# Movemos el directorio activo a una nueva localización para este dataset
## Retrocedemos dos niveles
os.chdir('c:\\Users\\User\\Desktop\\Data_Analytics\\Bootcamp\\1_Módulo 1\\07-PREPROCESAMIENTO\\content\\')

## Creamos carpeta
if not os.path.isdir('solar_flare_dataset/'): os.mkdir('solar_flare_dataset')

## Movemos directorio activo
os.chdir('solar_flare_dataset')

# Descargamos los ficheros que contienen los datos a nuestro directorio activo
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data1')
with open("flare.data1", "wb") as f:
    f.write(response.content) 

response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data2')
with open("flare.data2", "wb") as f:
    f.write(response.content) 

# Descargamos la metadata asociada al conjunto de datos
response = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.names')
with open("flare.names", "wb") as f:
    f.write(response.content) 

# Leemos datos
## Leemos primer fichero de datos
with open(os.path.join(os.getcwd(),'flare.data1'),'r') as f:
    data1 = f.read().splitlines() # Dividimos el texto por saltos de línea
    data1 = [elem.split(' ') for elem in data1 if elem!=''] # Dividimos cada línea por las comas y removemos líneas vacías
    data1 = data1[1:] # Quitamos la línea de metadata temporal
## Leemos segundo fichero de datos
with open(os.path.join(os.getcwd(),'flare.data2'),'r') as f:
    data2 = f.read().splitlines() # Dividimos el texto por saltos de línea
    data2 = [elem.split(' ') for elem in data2 if elem!=''] # Dividimos cada línea por las comas y removemos líneas vacías
    data2 = data2[1:] # Quitamos la línea de metadata temporal
## Combinamos ambas listas
data = data1+data2
# Leemos metadata
with open(os.path.join(os.getcwd(),'flare.names'),'r') as f:
    metadata = f.read().splitlines()

In [29]:
metadata

['1. TItle: Solar Flare database',
 '',
 '2. Source Information',
 '   -- Donor: Gary Bradshaw <gbradshaw@clipr.colorado.EDU>',
 '   -- Date: 3/89',
 '',
 '3. Past Usage:',
 '   -- Gary Bradshaw: (Class Attributes were collapsed to 0 and >0)',
 '   -- See the past-usage file for a note written by Gary Bradshaw',
 '',
 '4. Relevant Information:',
 '   -- The database contains 3 potential classes, one for the number of times a',
 '      certain type of solar flare occured in a 24 hour period.',
 '   -- Each instance represents captured features for 1 active region on the ',
 '      sun.',
 '   -- The data are divided into two sections. The second section (flare.data2)',
 '      has had much more error correction applied to the it, and has ',
 '      consequently been treated as more reliable.',
 '',
 '5. Number of Instances:  flare.data1: 323, flare.data2: 1066',
 '',
 '6. Number of attributes:  13 (includes 3 class attributes)',
 '',
 '7. Attribute Information:',
 '   1. Code for class (modified Zurich class)  (A,B,C,D,E,F,H)',
 '   2. Code for largest spot size              (X,R,S,A,H,K)',
 '   3. Code for spot distribution              (X,O,I,C)',
 '   4. Activity                                (1 = reduced, 2 = unchanged)',
 '   5. Evolution                               (1 = decay, 2 = no growth, ',
 '                                               3 = growth)',
 '   6. Previous 24 hour flare activity code    (1 = nothing as big as an M1,',
 '                                               2 = one M1,',
 '                                               3 = more activity than one M1)',
 '   7. Historically-complex                    (1 = Yes, 2 = No)',
 '   8. Did region become historically complex  (1 = yes, 2 = no) ',
 "      on this pass across the sun's disk",
 '   9. Area                                    (1 = small, 2 = large)',
 '  10. Area of the largest spot                (1 = <=5, 2 = >5)',
 '',
 ' From all these predictors three classes of flares are predicted, which are ',
 ' represented in the last three columns.',
 '',
 '  11. C-class flares production by this region    Number  ',
 '      in the following 24 hours (common flares)',
 '  12. M-class flares production by this region    Number',
 '      in the following 24 hours (moderate flares)',
 '  13. X-class flares production by this region    Number',
 '      in the following 24 hours (severe flares)',
 '',
 '8. Missing values: None',
 '',
 '9. Class Distribution:',
 '',
 '   flare.data1:   ',
 '                    0   1  2  4 Total',
 '   C-class flares 287  29  7  0 323',
 '   M-class flares 291  24  6  2 323',
 '   X-class flares 316   7  0  0 323',
 '',
 '   flare.data2:',
 '',
 '                    0    1  2  3  4  5  6  7  8  Total',
 '   C-class flares  884 112 33 20  9  4  3  0  1  1066',
 '   M-class flares 1030  29  3  2  1  0  1  0  0  1066',
 '   X-class flares 1061   4  1  0  0  0  0  0  0  1066']

In [141]:
regex_fn1 = lambda text: re.findall('^\s+[0-9]+\.{1}\s{1}[a-zA-Z- 0-9]+|\({1}', text)
reg_text_fn1 = lambda text : re.findall('[a-zA-Z-]{1}[a-zA-Z-0-9\s]+', text)
metadata_list1 = [regex_fn1(elem)[0].strip() for elem in metadata if regex_fn1(elem)]
col_names1 = [reg_text_fn1(elem)[0] for elem in metadata_list1 if reg_text_fn1(elem)]

In [143]:
col_names=[elem.replace('    Number','') for elem in col_names1]

In [144]:
col_names

['Code for class',
 'Code for largest spot size',
 'Code for spot distribution',
 'Activity',
 'Evolution',
 'Previous 24 hour flare activity code',
 'Historically-complex',
 'Did region become historically complex',
 'Area',
 'Area of the largest spot',
 'C-class flares production by this region',
 'M-class flares production by this region',
 'X-class flares production by this region']

In [145]:
# Construimos el objeto pd.DataFrame
df = pd.DataFrame(data=data, columns=col_names)
df

,Code for class,Code for largest spot size,Code for spot distribution,Activity,Evolution,Previous 24 hour flare activity code,Historically-complex,Did region become historically complex,Area,Area of the largest spot,C-class flares production by this region,M-class flares production by this region,X-class flares production by this region
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,H,S,X,1,2,1,1,1,1,1,0,0,0
1385,H,S,X,2,2,1,1,2,1,1,0,0,0
1386,C,S,O,1,2,1,2,2,1,1,0,0,0
1387,H,R,X,1,2,1,1,2,1,1,0,0,0
1388,B,X,O,1,1,1,1,2,1,1,0,0,0